body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:'Baloo Da 2', cursive;
    background-color: black;
    background-image: url('../assets/chili_background.jpg');
    overflow: scroll;
    padding: 30px;
}

#title, #inline-title, #main-title {
    font-family: 'Permanent Marker', cursive;
    color: rgb(223, 89, 89);
}

#title {
    font-size: 40px;
}

#inline-title {
    font-size: 24px;
}

#main-title {
    font-size: 76px;
    margin: 10px 0px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.nav-links {
    display: inline-flex;
    justify-content: space-between;
    height: 53px;
    width: 250px;
}

.github, .linkedin, .volume-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    background-color: transparent;
    background-size: cover;
    cursor: pointer;
}

.github:hover, .linkedin:hover, .volume-btn:hover {
    height: 53px;
    width: 53px;
}

.github {
    background-image: url('../assets/icons/icons8-github-48-2.png');
}

.linkedin {
    background-image: url('../assets/icons/icons8-linkedin-2-60.png');
}

.volume-btn {
    background-image: url('../assets/icons/icons8-audio-48.png');
}

footer {
    font-size: 20px;
    margin: 15px;
}

.hidden {
    display: none;
}

#modal, #intro {
    z-index: 10px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* display: flex;
    justify-content: center; */
    background-color: rgba(0, 0, 0, 0.3);
}

.intro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5%;
    padding: 50px;
    width: 60%;
    max-width: 700px;
    height: 500px;    
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.3);
    line-height: 28px;
    font-size: 20px;
}

.description {
    display: flex;
    text-align: justify;
}

.start-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: #54a947;
    color: white;
    font-size: 20px;
}

.start-btn:hover {
    background-color: #3f8035;
    height: 56px;
    top: -5px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

.game-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 837px;
    min-width: 760px;
    border-radius: 12px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    background: rgb(139,94,60);
    background: linear-gradient(0deg, rgba(139,94,60,1) 0%, rgba(139,94,60,1) 33%, rgba(252,176,69,1) 35%, rgba(253,29,29,1) 64%, rgba(57,7,150,1) 100%);
}

.canvas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 700px;
    width: 100%;
    max-width: 837px;
    min-width: 760px;
    border: 15px solid rgb(84, 169, 71);
    border-radius: 10px;
    background-image: url('../assets/taco_truck.png');
    background-size: 100%;
    background-position-y: 30px;
    background-repeat: no-repeat;
}

.game-stats {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid white;
    width: 70%;
    height: 75px;
}

.animation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 340px;
    width: 85%;
    margin-top: 115px;
    border: 1px solid white;
}

.speech-container {
    border: 1px solid white;
    height: 140px;
    width: 300px;
    margin-left: auto;
}

.customer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 1px solid black;
    height: 140px;
    width: 140px;
}

.kitchen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    width: 100%;
    height: 30%;
    background-color: rgb(84, 169, 71);
}

.taco-container {
    height: 200px;
    width: 340px;
    background-image: url('../assets/tortilla.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 360px;
    height: 180px;
}

.menu-row {
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
}

.ingredient {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 75px;
    width: 75px;
    background-color: black;
    border-radius: 8px;
}

.ingredient > img {
    height: 75px;
    width: 75px;
}

.github:hover, .linkedin:hover, .menu-item:hover, .bento-item:hover, .hover, button:hover {
    top: -5px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

#undo-btn {
    height: 60px;
    width: 60px;
    padding: 10px 0px;
    border-radius: 150px;
    background-color: rgb(223, 89, 89);
    color: white;
    font-size: 20px;
    font-weight: 900;
}

#undo-btn:hover {
    background-color: tomato;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-delay: 0.5s;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes flash {
  from,
  40%,
  80% {
    opacity: 1;
  }

  20%,
  60%,
  to {
    opacity: 0;
  }
}