body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:'Baloo Da 2', cursive;
    background-color: black;
    background-image: url('../assets/chili_background.jpg');
    overflow: scroll;
    padding: 30px;
}

#title, #inline-title, #main-title {
    font-family: 'Permanent Marker', cursive;
    color: rgb(223, 89, 89);
}

#title {
    font-size: 40px;
}

#inline-title {
    font-size: 24px;
}

#main-title {
    font-size: 76px;
    margin: 10px 0px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.hidden {
    display: none;
}

.modal, .intro {
    z-index: 10px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.intro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5%;
    padding: 50px;
    width: 60%;
    max-width: 700px;
    height: 500px;    
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.3);
    line-height: 28px;
    font-size: 20px;
}

.description {
    display: flex;
    text-align: justify;
}

.start-game {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: rgb(84, 169, 71);
    color: white;
    font-size: 20px;
}

.start-game:hover {
    background-color: rgb(63, 128, 53);
    top: -5px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

.game-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 927px;
    min-width: 600px;
    border-radius: 12px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    background: rgb(139,94,60);
    background: linear-gradient(0deg, rgba(139,94,60,1) 0%, rgba(139,94,60,1) 33%, rgba(252,176,69,1) 35%, rgba(253,29,29,1) 64%, rgba(57,7,150,1) 100%);
}

.canvas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 700px;
    width: 100%;
    max-width: 927px;
    min-width: 600px;
    border: 15px solid rgb(84, 169, 71);
    border-radius: 10px;
    background-image: url('../assets/taco_truck.png');
    background-size: 100%;
    background-position-y: 30px;
    background-repeat: no-repeat;
}

.game-stats {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid white;
    width: 70%;
    height: 75px;
}

.kitchen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    width: 100%;
    height: 30%;
    background-color: rgb(84, 169, 71);
}



.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 360px;
    height: 180px;
    border: 1px solid white;
}

.menu-row {
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
    border: 1px solid white;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 75px;
    width: 75px;
    background-color: black;
    border-radius: 8px;
}

.menu-item:hover, .bento-item:hover, .hover, button:hover {
    top: -5px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

#undo-btn {
    height: 60px;
    width: 60px;
    padding: 10px 0px;
    border-radius: 150px;
    background-color: rgb(223, 89, 89);
    color: white;
    font-size: 20px;
    font-weight: 900;
}

#undo-btn:hover {
    background-color: tomato;
}